# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDEs and Editors
.idea/
*.iml
.vscode/
*.class

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Others
node_modules/
bin/
.env
